html {
  font-family: monospace;
  font-size: 30px;
}

body {
  width: 600px;
  height: 600px;
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: black;
  color: white;
}

* {
  position: relative;
  z-index: 1;
}

canvas {
  background: black;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}