:root {
  --main-width: 750px;
  --main-height: var(--main-width);

  --text-size: 24px;
  --text-size-small: calc(var(--text-size) * 0.75);
  --text-size-tiny: calc(var(--text-size) * 0.6);

  --font-stack: 'Avenir', monospace;

  --bg: #001100;
  --bg-rgb: 0, 17, 0;

  --ui: #0f0;
}

html {
  font-family: var(--font-stack);
  font-size: var(--text-size);
  line-height: 1;
}

body {
  width: var(--main-width);
  height: var(--main-height);
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--bg);
  color: var(--ui);
}

* {
  box-sizing: border-box;
}

.minilabel {
  font-weight: bold;
  text-transform: uppercase;
  font-size: var(--text-size-small);
}
